.project-list-container {
    margin-top: 2rem;
    width: 100%;
    border: 1px solid var(--border);
}

.projects-create-project-btn {
    font-family: inherit;
    font-size: 1.2rem;
    background-color: var(--blue);
    border: 1px solid transparent;
    border-radius: 14px;
    padding: 0.5rem 1rem;
    color: var(--surface);
    width: 200px;
    text-align: center;
    transition: background-color 0.2s ease;
    margin-left: auto;
}

.projects-create-project-btn:hover {
    background-color: color-mix(in srgb, var(--blue) 80%, black);
    cursor: pointer;
}

.project-list-header {
    color: var(--text-primary);
    width: 100%;
    background-color: var(--border);
    font-weight: normal;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}

.project-list-top-label {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    gap: 435px;
    background-color: var(--surface);
    border-bottom: 1px solid var(--border);
    width: 100%;
}

.project-item-archive-btn,
.project-list-filter-btn,
.project-list-time-btn,
.project-list-name-btn {
    font-size: inherit;
    font-family: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-secondary);
}

.project-list-filter-btn {

}

.project-list {
    background-color: var(--surface);
    list-style: none;
    width: 100%;
}

.project-list-item {
    display: flex;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid var(--border);
    height: 50px;
    width: 100%;
}

.project-list-item:hover {
    box-shadow: 0 0 15px 2px var(--shadow);
}

.project-list-item .name-label {
    flex: 1;
    min-width: 0;
    cursor: pointer;
}

.project-list-item .project-name {
    color: var(--text-primary);
    margin-left: 0.5rem;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-list-item .divider-vertical {
    width: 1px;
    height: 45px;
    background-color: var(--border);

}

.project-list-item .project-tracked-time {
    flex: 2;
    margin-left: 1rem;
}

.project-item-archive-btn {
    margin-left: auto;
    border: 1px solid var(--blue);
    background-color: var(--surface);
    color: var(--blue);
    padding: 0.3rem 0.7rem;
    font-size: 0.9rem;
    transition: color 0.2s ease,
                border 0.2s ease,
                background-color 0.2s ease;
}

.project-item-archive-btn:hover {
    color: var(--surface);
    border: 1px solid var(--blue);
    background-color: var(--blue);
}