.project-list-container {
    margin-top: 2rem;
    width: 100%;
    border: 1px solid var(--border);
    box-shadow: inset 0 -10px 0 var(--border);
    padding-bottom: 10px;
}

.projects-create-project-btn {
    font-family: inherit;
    font-size: 1rem;
    background-color: var(--blue);
    border: none; 
    border-radius: 14px;
    padding: 0.5rem 1rem;
    color: var(--surface);
    width: 200px;
    text-align: center;
    transition: background-color 0.2s ease;
    margin-left: auto;
}

.projects-create-project-btn:hover {
    background-color: color-mix(in srgb, var(--blue) 80%, black);
    cursor: pointer;
}

.project-list-header {
    color: var(--text-primary);
    width: 100%;
    background-color: var(--border);
    font-weight: normal;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}

.project-list-top-label {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--surface);
    border-bottom: 1px solid var(--border);
    width: 100%;
}

.project-item-delete-btn,
.project-item-restore-btn,
.project-item-archive-btn,
.project-list-filter-btn {
    font-size: inherit;
    font-family: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-secondary);
}

.project-list-filter-btn {
    position: relative;
}

.project-list-filter-btn {
    color: var(--blue);
    margin-left: auto;
    margin-right: 1rem;
}

.project-list {
    background-color: var(--surface);
    list-style: none;
    width: 100%;
}

.project-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--border);
    width: 100%;
}

.project-list-item:hover {
    box-shadow: 0 0 15px 2px var(--shadow);
}

.project-list-item .name-label {
    flex: 1;
    min-width: 0;
}

.project-list-filter-btn .chevron-up,
.project-list-filter-btn .chevron-down {
    font-size: 0.75rem;
    position: absolute;
}

.project-list-filter-btn .chevron-up {
    top: 3px;
    left: 38px;
}
.project-list-filter-btn .chevron-down {
    top: 2px;
    left: 38px;
}

.project-list-item .project-name {
    color: var(--text-primary);
    margin-left: 0.5rem;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.project-list-item .divider-vertical {
    width: 1px;
    height: 45px;
    background-color: var(--border);
}

.project-list-item .project-tracked-time {
}

.project-actions {
    justify-content: flex-end;
    display: flex;
    gap: 0.5rem
}

.project-item-restore-btn,
.project-item-archive-btn {
    border: 1px solid var(--blue);
    background-color: var(--surface);
    color: var(--blue);
    padding: 0.3rem 0.7rem;
    font-size: 0.9rem;
    transition: color 0.2s ease,
                border 0.2s ease,
                background-color 0.2s ease;
}

.project-item-restore-btn:hover,
.project-item-archive-btn:hover {
    color: var(--surface);
    border: 1px solid var(--blue);
    background-color: var(--blue);
}

.project-item-delete-btn {
    border: 1px solid var(--red);
    background-color: var(--surface);
    color: var(--red);
    padding: 0.3rem 0.7rem;
    font-size: 0.9rem;
    transition: color 0.2s ease,
                border 0.2s ease,
}

.project-item-delete-btn:hover {
    color: var(--surface);
    border: 1px solid var(--red);
    background-color: var(--red);
}

.project-filter-menu {
    display: flex;
    flex-direction: column;
    z-index: 999;
    left: -30px;
    top: 25px;
    position: absolute;
    width: 100px;
    border: 1px solid var(--border);
    border-bottom: none;
    background: var(--surface);
}

.project-filter-menu button {
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid var(--border);
    background-color: var(--surface);
    padding: 0.7rem 1.2rem;
    cursor: pointer;
}

.project-filter-menu button:hover {
    background-color: var(--border);
}

.project-list-time-column {
    display: flex;
    align-items: center;
    gap: 1rem;
}