.column-bar-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.column-bar-chart-title {
    font-weight: normal;
    margin-bottom: 1rem;
}

.column-bar-chart-area {
    position: relative;
    height: 230px;
}

.column-bar-chart {
    position: relative;
    height: 100%;
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.column-bar-chart-item {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
}

.column-bar-chart .bar-label-top {
    color: var(--text-secondary);
    font-size: .85rem;
    position: absolute;
}

.column-bar-chart .bar {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    width: 50px;
    border-bottom: 2px solid var(--shadow);
}

.bar .progress-fill {
    width: 100%;
    background-color: var(--blue);
    transition: height 0.3s ease;
}

.column-bar-chart-grid {
    position: absolute;
    pointer-events: none;
    z-index: 0;
    inset: 0;
    height: 200px;
}

.column-bar-chart-grid .hour-marker {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    left: -2rem;
    right: 0;
    height: 0;
}

.hour-marker-line {
    width: 100%;
    height: 1px;
    border-top: 1px dashed var(--text-secondary);
    opacity: .5;
}

.bar-chart-label {
    color: var(--text-secondary);
    text-transform: uppercase;
}

.bar-chart-grid-label {
    color: var(--text-secondary);
    opacity: .6;
}