.weekly-calendar {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    background-color: var(--surface);
    box-shadow: inset 0 -10px 0 var(--border);
    height: 100%;
}

.weekly-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1.5rem;
    background-color: var(--border);
}

.weekly-title {
    display: flex;
    align-items: flex-end;
    gap: 2.5rem;
}

.weekly-calendar-title {
    font-size: 2.25rem;
    line-height: 1;
}

.date-range {
    font-size: 1.5rem;
    margin: 0.15rem;
}

.week-navigation {
    display: flex;
    gap: 0.5rem;
}

.day-container {
    display: flex;
    padding: 0.75rem 1.5rem 1.5rem;
    gap: 0.75rem;
}

.day-card {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    border: 2px solid var(--border);
    border-radius: 14px;
    height: 300px;
    width: 14%;
    padding: 0.75rem;
}

.date {
    font-size: 1.1rem;
}

.task-list {
    overflow-y: auto;
    padding-right: 0.5rem;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.list-item input[type="checkbox"] {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.list-item:hover {
    background-color: var(--background);
}

.task-text {
    flex: 1;
}

.task-due-date {
    color: var(--text-secondary);
}

.task-due-date.due-soon {
    color: var(--blue);
}

.task-due-date.overdue {
    color: var(--red);
}

.list-item:hover .task-text {
    color: var(--blue);
}

.delete-btn {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    margin-left: auto;
    color: var(--shadow);
    transition: color 0.2s ease;
}

.delete-btn:hover {
    color: var(--black);
}

.card-footing {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.this-week,
.next-week,
.prev-week,
.add-task-btn {
    margin-top: auto;
    background-color: var(--green);
    border-radius: 8px;
    cursor: pointer;
    color: var(--surface);
    border: none;
    padding: 0.3rem 0.6rem;
}

.this-week,
.next-week,
.prev-week {
    background-color: var(--surface);
    color: var(--blue);
    border: 1px solid var(--blue);
    transition: background-color 0.1s ease,
                color 0.1s ease,
}

.this-week:hover,
.next-week:hover,
.prev-week:hover {
    background-color: var(--blue);
    color: var(--surface);
}

.week-navigation button:disabled {
    border: 1px solid var(--black);
    color: var(--black);
    opacity: 0.5;
    pointer-events: none;
}

.date-separator {
    color: black;
}

.card-heading .today {
    color: var(--blue);
}