.dashboard {
    display: flex;
}

.dashboard-content {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 110px 1fr 1fr;
    gap: 1.5rem;
    grid-template-areas: 
        'timer streaksCard rightPanel'
        'graphs graphs rightPanel'
        'graphs graphs rightPanel';
}

.dashboard-graphs {
    background-color: var(--surface);
    border: 1px solid var(--border);
    padding: 1rem;
    grid-area: graphs;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 1fr;
    grid-template-areas:
        'totalTimeRing totalTasksRing'
        'projectTimeBreakdown weeklyFocusChart';
}

.timer {
    grid-area: timer;
    justify-self: start;
    align-self: start;
}

.right-panel {
    grid-area: rightPanel;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.daily-task-list {
    grid-area: taskList;
    flex: 0;
}

.recent-sessions {
    flex: 0;
    grid-area: recentSession;
}

.total-weekly-tasks-ring {
    grid-area: totalTasksRing;
}

.total-weekly-time-ring {
    grid-area: totalTimeRing;
}

.project-time-breakdown {
    grid-area: projectTimeBreakdown;
}

.weekly-focus-chart {
    grid-area: weeklyFocusChart;
}


.streaks-card {
    grid-area: streaksCard;
    display: flex;
    justify-content: center;
}

/*
.timer,
.streaks-card,
.right-panel,
.weekly-focus-chart,
.project-time-breakdown,
.total-weekly-tasks-ring,
.total-weekly-time-ring {
    border: 1px solid black;
}