.dashboard {
    display: flex;
}

.dashboard-content {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 1.5rem;
    grid-template-areas: 
        'timer streaksCard taskList'
        'totalTasksRing totalTimeRing taskList'
        'weeklyFocusChart projectTimeBreakdown recentSessions';
}

.timer {
    grid-area: timer;
    justify-self: start;
    align-self: start;
}

.total-weekly-tasks-ring {
    grid-area: totalTasksRing;
}

.total-weekly-time-ring {
    grid-area: totalTimeRing;
}

.today-task-list {
    grid-area: taskList;
}

.project-time-breakdown {
    grid-area: projectTimeBreakdown;
}

.weekly-focus-chart {
    grid-area: weeklyFocusChart;
}

.recent-sessions {
    grid-area: recentSessions;
}

.streaks-card {
    grid-area: streaksCard;
}