.timer {
    background-color: var(--surface);
    width: 625px;
    box-shadow: 1px 1px 8px var(--shadow);
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.time {
    font-size: 3rem;
}

.selector-container {
    font-size: 1.2rem;
}

.selector-container:hover {
    text-decoration: underline;
}

.btn-container {
    display: flex;
    gap: .5rem;
    margin-left: auto;
}

.btn {
    text-transform: uppercase;
    padding: .7rem 1.2rem;
    border-radius: 10px;
    border: none;
    color: var(--surface);
    cursor: pointer;
}

.btn.pause {
    background-color: var(--yellow);
}

.btn.start {
    background-color: var(--green);
    justify-self: flex-end;
}

.btn.end {
    background-color: var(--red);
}

.dropdown-container {
    position: relative;
}