.today-task-container {
    width: 400px;
    height: 450px;
    border: 2px solid var(--border);
    margin-left: auto;
    box-shadow: inset 0 -10px 0 var(--border);
}

.today-task-heading {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 1rem 1.5rem;
    background-color: var(--border);
}

.today-task-subheading {
    display: flex;
    justify-content: space-between;
}

.tasks-remaining-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.today-task-date {
    color: var(--text-primary);
    font-size: 1.2rem;
}

.task-list-progress-bar {
    width: 150px;
    height: 15px;
    border: 1px solid var(--border);
    background: linear-gradient(to right, var(--blue) var(--progress), var(--border) 0);
}

.today-task-list {
    overflow-y: auto;
}

.today-list-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.today-list-item.overdue {
    color: var(--red);
}

.date-separator.overdue {
    color: var(--red);
}

.today-task-list-footing {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
