.weekly-focus-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.weekly-focus-chart-title {
    font-weight: normal;
    margin-bottom: 1rem;
}

.focus-chart {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.focus-chart-item {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
}

.focus-chart-time {
    color: var(--text-secondary);
    position: absolute;
}

.focus-chart-bar {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    width: 50px;
    border-bottom: 2px solid var(--shadow);
}

.progress-fill {
    width: 100%;
    background-color: var(--blue);
    transition: height 0.3s ease;
}

.focus-chart-label {

}