.timer {
    background-color: var(--surface);
    width: 625px;
    box-shadow: 1px 1px 8px var(--shadow);
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    font-variant-numeric: tabular-nums;
}

.time {
    font-size: 3rem;
}

.selector-wrapper {
    flex: 1;
    min-width: 0;
}

.selector-container {
    display: flex;
    min-width: 0;
    font-size: 1.2rem;
    cursor: pointer;
}

.selector-container:hover {
    text-decoration: underline;
}

.selector-text {
    flex: 1;
    min-width: 0;     
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-container {
    display: flex;
    gap: .3rem;
    margin-left: auto;
}

.btn {
    text-transform: uppercase;
    padding: .7rem 1.2rem;
    border-radius: 14px;
    border: none;
    color: var(--surface);
    cursor: pointer;
}

.btn.pause {
    background-color: var(--orange);
}

.btn.start {
    background-color: var(--green);
    justify-self: flex-end;
}

.btn.end {
    background-color: var(--red);
}

.dropdown-container {
    position: relative;
}