:root {
    --background: #eef2f6;
    --surface: #ffffff;

    --text-primary: #333;
    --text-secondary: #6e6e73;

    --border: #d1d5db;
    --shadow: #bbb;
    --accent: #4CC9FE;

    --blue: #2563eb;
    --black: #000;
    --green: #22c55e;
    --yellow: #f59e0b;
    --red: #ef4444;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}