:root {
    --font-primary: "Inter", sans-serif;

    --background: #eef2f6;
    --surface: #ffffff;

    --text-primary: #333;
    --text-secondary: #6e6e73;

    --border: #d1d5db;
    --input-border: #8f8f9d;
    --shadow: #bbb;
    --accent: #38BDF8;

    --blue: #2563eb;
    --black: #000;
    --green: #22c55e;
    --orange: #ffb242;
    --red: #ef4444;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    font-size: 0.9300rem;
}