@import "tailwindcss";

:root {
    --background: #eef2f6;
    --surface: #ffffff;

    --text-primary: #333;
    --text-secondary: #6e6e73;

    --border: #d1d5db;

    --accent: #4CC9FE;

    --success: #22c55e;
    --warning: #f59e0b;
    --danger: #ef4444;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

.bg-main {
    background-color: var(--background);
}

.surface {
    background-color: var(--surface);
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.accent {
    background-color: var(--accent);
}

.border-theme {
    border-color: var(--border);
}